/* Estilos gerais para o corpo da página */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  display: flex;
}

/* Estilos para o cabeçalho */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 5px;
}

/* Estilos para o contêiner principal dos alunos */
.aluno-container {
  width: 800px;
  min-height: 300px;
  max-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 0.2px solid #cccccc23;
  border-radius: 5px;
  background-color: #f7f7f700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* Estilos para o contêiner flexível dos alunos */
.flex-warp-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 13px;
  position: relative;
}

/* Estilos para os quadrados representando os alunos */
.aluno-square {
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.aluno,
.turma,
.grupo {
  margin: 0; /* Redefinir margens para zero */
  justify-content: center;
  flex: 1; /* Ocupar o espaço disponível horizontalmente */
}

.aluno-square:hover {
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgb(154, 104, 241);
}

/* Estilos para o conteúdo do acordeão */
.acordeao-content {
  background-color: #e7cccc69;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center; /* Add this to separate the text and accordion */
  align-items: center;
  margin-top: -15px;
}

.notas,
.media {
  margin: 0; /* Redefinir margens para zero */
  justify-content: center;
  flex: 1; /* Ocupar o espaço disponível horizontalmente */
}
