body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.turma-container {
  background-color: #f7f7f700;
  padding: 20px;
  margin-bottom: 20px;
  border: 0.2px solid #cccccc23; /* Adicione uma borda sutil */
  border-radius: 5px;
  width: 800px;
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-warp-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}

.turma-square {
  position: relative;
  width: calc(25% - 10px);
  height: 150px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.turma-square:hover {
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgb(154, 104, 241);
}

.turma-square p {
  font-size: 15px;
  margin: 2px;
  font-weight: bold;
  color: #000000;
}

.trash-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px; /* Defina a largura desejada para o ícone */
  height: 20px; /* Defina a altura desejada para o ícone */
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
}

.turma-square:hover {
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgb(154, 104, 241);
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-image: url("../imagens/Fundo.png"),
    linear-gradient(90deg, #d24d5d 0%, #a952a3 30%, #9a68f1 100%);
  width: 40%;
  height: 550px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

/* Estilos para o formulário e seus campos */
.form-container {
  display: flex;
  flex-direction: column;
}

.data-content {
  display: flex;
  flex-direction: column; /* Alinhar os campos na horizontal */
  align-items: center;
}

.input-field {
  width: 250px;
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

/* Estilos para a lista de grupos */
h3 {
  margin-top: 20px;
  text-align: center;
}

/* Estilo para a lista de checkboxes */
ul {
  display: flex; /* Usar flexbox para centralizar horizontalmente */
  flex-direction: column;
  align-items: center;

  list-style-type: none; /* Remover marcadores de lista */
  padding: 0;
  margin-top: 0;
  min-height: 150px;
  max-height: 150px; /* Altura máxima com barra de rolagem */
  overflow-y: auto; /* Adicionar barra de rolagem vertical quando necessário */
}

/* Estilo para cada item da lista (checkbox + label) */
li {
  background-color: #ece2e23a; /* Fundo colorido */
  border-radius: 5px;
  width: 200px;
  padding: 5px; /* Espaçamento interno */
  margin-bottom: 5px; /* Espaçamento entre itens */
}
li:hover {
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgb(154, 104, 241);
}

/* Estilo para o checkbox */
.checkbox {
  margin-right: 10px; /* Espaçamento entre o checkbox e o label */
}

.close {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 50px; /* Tamanho da fonte maior */
  display: inline-block; /* Torna o botão um elemento de bloco para definir largura e altura */
  line-height: 10px; /* Centraliza o ícone verticalmente */
  cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
}

.submit-turma {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
}

/* Estilos para a seção de confirmação */
#confirmacaoContainer {
  display: none;
  position: fixed; /* Importante para a centralização */
  top: 40%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza em ambas as direções */
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#confirmacaoContainer span {
  font-weight: 900;
}

#confirmacaoContainer p {
  margin: 5px 0;
}

#confirmarButton {
  margin-top: 25px;
  background-color: #4caf50;
}

#confirmarButton:hover {
  background-color: #45a04991;
}

#cancelarButton {
  background-color: #ce1717;
}
#cancelarButton:hover {
  background-color: #ce17179d;
}
