/* Estilos gerais para o corpo da página */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px o0px;
}

.menu-button {
  text-decoration:none
}

.titulo {
  margin-top: 5px;
  justify-content: center;
}

.container-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinha os elementos no topo do contêiner */
  width: 600px;
  margin-bottom: 20px;
}

.info-turma {
  padding: 8px;
  width: 236px;
  height: 315px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.container-ciclos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 300px;
  max-width: 300px;
  height: 100px;
  padding: 0px 5px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ccc
}

.titulo-ciclos {
  margin-top: 0px;
  margin-bottom: 5px;
}

.ciclo-peso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

.ciclo {
  display: flex;
  align-items: center;
  font-weight: 200;

  margin-right: 2px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline 
}


.peso {
  border: 1px solid #0000000c;
  width: 7%;
  padding: 5px;
  margin-right: 15px; /* Adiciona espaço ao redor dos pesos para separá-los dos rótulos (ciclos) */
}

/* Estilos para o contêiner principal dos alunos */
.aluno-container {
  overflow-x: hidden;
  width: 550px;
  height: 330px;
  padding: 20px;
  padding-top: 5px;
  margin-bottom: 9px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.aviso_ciclo_aberto {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 5px;
}

.header-container {
  height: 40px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  font-size: initial;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Estilos para os quadrados representando os alunos */
.aluno-square {
  display: flex;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 5px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}

.aluno-square:hover {
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgb(154, 104, 241);
}

.header-title,
.aluno-square p,
.aluno-square div {
  color: #000000;
  margin: 0;
  text-align: center;
  border-right: 1px solid #ccc;
}

.header-title.titulo_alunos,
.aluno-square .aluno {
  width: 150px;
}

.titulo_notas,
.campoNota {
  align-items: center;
  width: auto; /* Use "auto" para que o campo se ajuste ao conteúdo */
  min-width: 280px; /* Defina um tamanho mínimo para evitar que fique muito pequeno */
  border-right: 1px solid #ccc; /* Adicione uma borda à direita */
  padding: 0 10px; /* Adicione algum espaçamento interno para melhor aparência */
}

.titulo_media,
div.media {
  width: 100px;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campoNota {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valor {
  background-color: rgb(90, 236, 188);
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 0px;
}

.btn-salvar-ciclo-peso {
  width: 29px;
  align-self: flex-end;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(184, 20, 255, 0.968);
  background-color: rgb(243, 237, 245);
}

.btn-salvar-ciclo-peso:hover {
  background-color: rgb(251, 179, 197);
  cursor:pointer;
}